<!-- 20170929 ED 5.4 authentication -->
<!-- style in bootstrap: form-group, remove labels, form-control, add placeholders, col-sm-12, btn, btn-lg -->
<!-- http://localhost:3000/sign_up -->
<div class="container-fluid anchor">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="field form-group col-sm-12">
        <%#= f.label :email %>
        <br />
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true %>
      </div>

      <div class = "col-sm-12">
        <div class="field form-group">
          <%#= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%#= f.label :password_confirmation %>
          <!-- <br /> -->
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", autocomplete: "off" %>
        </div>
      </div>

      <div class="actions btn btn-lg">
        <%= f.submit "Sign up" %>
      </div>


  <% end %>

  <%= render "devise/shared/links" %>
</div>