<!-- 20171215 6.10: AJAX -->
<!-- copied directly from app/views/products/_comments.html.erb -->
<!-- replace code in that file to keep things DRY -->
<div class="row">
  <hr>
  <p>
    <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>

    <!-- 20171228 6.14: ActiveJob and Advanced ActionCable -->
    <!-- original -->
    <%# if signed_in? && current_user.admin? %>
    <% if current_user && current_user.admin? %>
      <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
  <div class="rated" data-score="<%= comment.rating %>"></div>
  <p><%= comment.body %></p>
</div>