<!-- 20170929 ED 5.4 authentication -->
<!-- $ rails generate scaffold user first_name last_name -->
<!-- http://localhost:3000/users -->

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>

      <!-- 20171005 ED 5.5 Authorization -->
      <!-- added this manually -->
      <th>Email address</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        
        <!-- 20171005 ED 5.5 Authorization -->
        <!-- added this manually -->
        <td><%= user.email %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
