<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ED 20170918 search form -->
  <!-- originals before bootstrap -->
  <!-- <div class="field"> -->
    <%#= form.label :name %>
    <%#= form.text_field :name, id: :product_name %>
  <!-- </div> -->
  <!-- <div class="actions"> -->
    <%#= form.submit %>
  <!-- </div> -->

  <!-- to add a class selector -->
  <%#= form.label :name, class: "myClass" %>
  <!-- for id:, it can be added to styles as eg #product_name {} -->

  <div class="field input-group">
    <span class="input-group-addon"><%= form.label :name %></span>
    <%= form.text_field :name, id: :product_name, class: "form-control" %>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><%= form.label :description %></span>
    <%= form.text_area :description, id: :product_description, class: "form-control" %>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><%= form.label :image_url %></span>
    <%= form.text_field :image_url, id: :product_image_url, class: "form-control" %>
  </div>
  
  <!-- #20171213 6.9: JavaScript on Rails -->
  <div class="field input-group">
    <span class="input-group-addon"><%= form.label :image_thumb %></span>
    <%= form.text_field :image_thumb, class: "form-control" %>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><%= form.label :color %></span>
    <%= form.text_field :color, class: "form-control" %>
  </div>

  <div class="field input-group">
    <!-- 20171124 6.5: Payment Forms with Stripe -->
    <!-- original -->
    <!-- <span class="input-group-addon"><%#= form.label :price %></span> -->
    <%#= form.text_field :price, class: "form-control" %>
    <span class="input-group-addon"><%= form.label :price_in_cents %></span>
    <%= form.text_field :price_in_cents, class: "form-control" %>
  </div>

  <!-- for bootstrap button styling, class needs to be in form.submit -->
  <!-- button name is dynamic and based on if editing or creating a new button -->
  <div class="actions">
    <%= form.submit button_name, class: "btn btn-default" %>
  </div>

  <!-- debug -->
  <%p 'nameofapp/app/views/products/_form.html.erb'%>

<% end %>
