<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="product_style">
  <div class = "thumbnail">

    <% cache product do %>

      <h1><%= link_to product.name, product %></h1>
      
      <%= link_to product do %>
        <%= image_tag(product.image_thumb, class: "img-responsive img-zoom") %>
      <% end %>

      <p class="oneline"><%= product.description %></p>
      <strong><%= number_to_currency((product.price_in_cents.to_f)/100, :unit => "$") %></strong>

    <% end %>

  </div>
</div>