<!-- called by index to dynamically add all products to product page -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="product_style">
	<div class = "thumbnail">

		<!-- 20171220 6.11: Caching -->
		<% cache product do %>

		  <h1><%= link_to product.name, product %></h1>
		  
		  <!-- 20171213 6.9: JavaScript on Rails -->
		  <!-- original code -->
		  <%#= image_tag(product.image_url, class: "img-responsive") %>
		  <%= link_to product do %>
		  	<%= image_tag(product.image_thumb, class: "img-responsive img-zoom") %>
		  <% end %>

		  <p class="oneline"><%= product.description %></p>
		  <!-- 20171124 6.5: Payment Forms with Stripe -->
		  <!-- original -->
		  <!-- <strong><%#= number_to_currency(product.price, :unit => "$") %></strong> -->
		  <strong><%= number_to_currency((product.price_in_cents.to_f)/100, :unit => "$") %></strong>

		  <!-- 20171220 6.11: Caching -->
		  <!-- commented these 2 because caching messes with it -->
		  <!-- place links in /app/views/products/show.html.erb outside of cache block -->
		  <!-- <p> -->
		    <!-- 20171210 6.8 Security -->
		    <%# if signed_in? && current_user.admin? %>
		    	<%#= link_to 'Edit', edit_product_path(product) %>
		    	<%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
		    <%# end %>
		  <!-- </p> -->

	  <% end %>

	</div>
</div>