<!-- called by index to dynamically add all products to product page -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="product_style">
	<div class = "thumbnail">
	  <h1><%= link_to product.name, product %></h1>
	  <%= image_tag(product.image_url, class: "img-responsive") %>
	  <p class="oneline"><%= product.description %></p>
	  <!-- 20171124 6.5: Payment Forms with Stripe -->
	  <!-- original -->
	  <!-- <strong><%#= number_to_currency(product.price, :unit => "$") %></strong> -->
	  <strong><%= number_to_currency((product.price_in_cents.to_f)/100, :unit => "$") %></strong>

	  <p>
	    <%= link_to 'Show', product %>
	    <%= link_to 'Edit', edit_product_path(product) %>
	    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
	  </p>
	</div>
</div>