<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <br>
  <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% cache @product do %>

  <div class="row">
    <div class="col-xs-4" id="product_show">
      <%= link_to 'Back', products_path %>
    </div>
    <div class="col-xs-4" id="product_show">
      <h2>
        <%= @product.name %>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" id="product_show">
      <p>
        <%= image_tag(@product.image_url, width: "500", class: "img-responsive img-zoom") %>
      </p>
    </div>
  </div>

<% end %>

  <span class="badge">
    Views: <%= @product.views %>
  </span>

  <div class="row">
    <div class="col-xs-6" id="product_show">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= @product.description %>
    </div>
    
    <div class="col-xs-6" id="product_show">
      <div class="right_col">
        <%= form_with(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6" id="product_show">
        <strong>Color:</strong>
        <%= @product.color %>
    </div>
    <div class="col-xs-6" id="product_show">
      <div class="right_col">
        <strong>Price:</strong>
        <%= number_to_currency((@product.price_in_cents.to_f)/100, :unit => "$") %>
      </div>
    </div>
  </div>

<br>
<div class="row">
  <div class="col-xs-12" id="product_show">
    <p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="product_show">
    <div class="user_comment">
      <%= render 'new_comment' %>
    </div>
  </div>
</div>
<div class="row" data-product-id="<%= @product.id %>">
  <div class="col-xs-12" id="product_show">
    <div class="prod_review">Product Reviews</div>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>
  </div>
</div>

<div class="apple_pagination">
  <%= will_paginate @comments %>
</div>
