<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

    <!-- bootstrap should be applied before any custom css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- must come after javascript since bootstrap depends on jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- for  mobile phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <%= csrf_meta_tags %>

  </head>

  <body>


   
      <!-- navigation bar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <nav class="container-fluid">

          <!-- navbar for smaller screens -->
          <nav class="navbar-header-sm">

            <!-- menu button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- home button -->
            <a class="homeButton navbar-brand" href="../static_pages/index">
              <%= image_tag("misc/home_logo.png", alt:"Brand") %>
            </a>

          </nav> <!-- END navbar-header-sm -->

          <nav class="navbar-collapse collapse">

            <!-- navbar links -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../static_pages/index">HOME</a></li>
              <li><a href="../static_pages/about">ABOUT</a></li>
              <li><a href="../static_pages/contact">CONTACT</a></li>
              <li><a href="../products">PRODUCTS</a></li>

              <!-- add remaining links here -->

            </ul>
          </nav> <!-- END navbar-collapse -->
          
        </nav> <!-- END container-fluid -->
      </nav> <!-- END navbar -->






      <!-- content from each page goes here -->
      <%= yield %>

    
    <!-- sticky footer -->
    <!-- NOTE: generating a scaffold messed up original sticky footer -->
    <!-- made the following modifications
          only difference after modifications is sticky footer now always shown: -->
    <!-- 1. removed this div that encapsulated most of body (sans <footer>) 
          <div class="page-wrap"> -->
    <!-- 2. moved margin: 0; from *{} to body selector -->
    <!-- 3. removed height: 100%; from body selector-->
    <!-- 4. added the following to .site-footer:
          bottom: 0; position: fixed; width: 100% height: 50px; -->
    <!-- 5. removed the following 3:
          .page-wrap {
            min-height: 100%;
            margin-bottom: -50px;
          }
          .page-wrap:after {
            content: "";
            display: block;
          }
          .site-footer, .page-wrap:after{
            height: 50px;
          } -->
    <!-- 6. added footer-anchor div and class with height: 50px 
          this ensures that footer won't cover up body content's bottom 50px -->
    <div class="footer-anchor"></div> <!-- sticky footer -->
    <footer class="container-fluid site-footer"> <!-- sticky footer -->
     
       &copy; 2017 Bike Berlin
     
    </footer>



  </body>
</html>
